html, body {
  /*background-color: #fff!important;*/
  height: 100%;
  min-height: 100% !important;
  color: white!important;
}
.titulo{
  /*margin-top: 15px;*/
  padding: 20px;
  background-color: #2e2e2e;
  color: white;
}
.home span{
  font-size: 30px;
}
.home button{
  width: 60px;
  background-color: white;
  color: #2e2e2e;
}
.titulo h3{
  margin-top: 10px;
}
.titulo h6{
  color: #848484;
}

.fila1{
  margin-top: 50px;
}
.marco{
  box-shadow: 1px 1px 10px 1px #BDBDBD;
  text-align: center;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  color: #2e2e2e;
  margin-bottom: 10px;
}
.marco:hover{
  cursor: pointer;
  background-color: #F2F2F2;
}
.icono{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}

.inicio{
  --display: none;
}

.informacion{
  display: none;
  margin-top: 30px;
}


.imagen span{
  display: inline-block;
  margin: 0 auto;
  font-size: 150px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.imagen {
  display: table;
  height: 50%;
  width: 100%;
  clear: both;
}
.texto{
  text-align: center;
  padding: 20px;
  --border: 1px solid red;
}
.infoCon p{
  font-size: 25px;
  background-color: white;
  color: #2e2e2e;
  --width: wrap-text;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.separador{
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #2e2e2e!important;
}
#cargando{

  text-align: center;
  margin:0 auto;
  color: #2e2e2e;
}

#scroll{
  color: #2e2e2e;
  padding-top: 8px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #A4A4A4;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 32px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  background-color: white;
}
#scroll:hover{
  cursor: pointer;
}
